body {
  font-family: 'Ubuntu', sans-serif;
}

/* Header and Navigation */

.container {
  margin: auto;
  max-width: 1024px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 3rem;
  padding-left: 0.5rem;
}

.colmar {
  font-size: 2rem;
  font-weight: bold;
}

.academy {
  font-size: 2rem;
}

nav {
  flex-grow: 1;
  text-align: right;
}

.desktop a {
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 1.25rem;
  cursor: auto;
  text-decoration: none;
  color: black;
}

/* Introduction */

.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.west-side {
  width: 50%;
}

.east-side {
  width: 370px;
}

.west-side img {
  width: 100%;
  padding: 1.25rem 1rem;
}

.tagline {
  height: auto;
  padding-top: 5rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.tagline a {
  background-color: #383838;
  color: white;
  text-align: center;
  text-decoration: none;
}

h1 {
  color: #383838;
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  color: #383838;
}
